.Role {
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: solid 0.25mm var(--color-grey-light);

  .RoleHeader {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  .RoleSkills {
    margin: 0;
    padding: 0;
  }
  .RoleSkill {
    padding-right: 0.75em;
    color: var(--color-grey);
    font-size: 0.6rem;

    &:last-child {
      padding-right: 0;
    }
  }

  .RolePositions {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
  }

  .RolePosition {
    padding-right: 0.5ex;
    color: var(--color-grey);
    font-style: italic;
    font-size: 0.6rem;

    &::after {
      padding-left: 0.5ex;
      content: "🠘";
      color: var(--color-grey);
      font-size: 0.6rem;
    }

    &:last-of-type {
      padding-right: 0;

      &::after {
        padding-left: 0;
        content: "";
      }
    }

    &:first-of-type {
      color: var(--color-pink);
      font-style: normal;
      font-size: 0.8rem;
    }
  }

  .RoleName,
  .RoleDates {
    margin: 0;
    padding: 0;
    font-size: 0.7rem;
    text-align: right;
  }

  .RoleName {
    margin: 0;
    padding: 0;
    color: var(--color-orange);
    font-size: 0.8rem;
  }

  .RoleDates {
    font-size: 0.6rem;
  }

  .RolePoint {
    margin: 0.25rem 0 0.25rem 0;
    padding: 0 0 0 0.25rem;
    border-left: solid 0.5mm var(--color-pink);

    &:last-child {
      margin-bottom: 0;
    }

    ul {
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      list-style: none;
    }
    p,
    li {
      margin: 0;
      padding: 0;
    }
  }
}
