@import 'fontello/fontello';

@-ms-viewport{
    width: device-width;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;

    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
}

$c1: #ee0979;
$c2: #ff6a00;

#background, .resume-sidebar {
    background: $c2;
    // background: -webkit-linear-gradient(180deg, $c1, $c2);
    background: linear-gradient(180deg, $c1, $c2);

    @media screen and (min-width: 500px) {
        // background: -webkit-linear-gradient(135deg, $c1, $c2);
        background: linear-gradient(135deg, $c1, $c2);
    }
}

#background {
    position: fixed;
    height: 130%;
    width: 100%;
    top: 0;

    z-index: -800;
}

a, a:visited {
    color: #fff;
    text-decoration: underline;
}

address {
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    padding-top: 0;

    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

p, h1, h2, h3, h4, h5, h6 {
    &:first-child {
        margin-top: 0;
        padding-top: 0;
    }
}
p, h1, h2, h3, h4, h5, h6 {
    &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

p {
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 1.4rem;
}

h3 {
    font-size: 1.1rem;
}

.layout-front {
    opacity: 0;
    transition: opacity 0.05s ease-in;
}
