@import 'mixins.scss';

body.layout-resume {
  -webkit-print-color-adjust: exact;
}

body.anon .hide-anon {
  display: none;
}

.resume {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: 'main' 'sidebar';
  grid-template-rows: auto;

  @media screen and (min-width: 500px) {
    grid-template-columns: 1fr 12fr 6fr 1fr;
    grid-template-areas: '. main sidebar .';
  }

  @media screen and (min-width: 1000px) {
    grid-template-columns: auto 600px 300px auto;
    grid-template-areas: '. main sidebar .';
  }

  @media print {
    grid-template-columns: auto 50mm;
    grid-template-areas: 'main sidebar';
    width: 210mm;
    height: 297mm;
  }

  overflow: hidden;

  p {
    font-size: 0.8rem;
  }

  a {
    text-decoration: none;
  }

  .resume-gutter {
    grid-area: gutter;
  }

  .resume-sidebar {
    grid-area: sidebar;

    padding: 0 0.5cm;

    h3 {
      line-height: 1;
      margin: 3rem 0 1.5rem 0;
      padding: 0;
    }
  }

  .resume-sidebar-list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0.8rem;

    li {
      position: relative;
      list-style: none;
      margin: 0 0 1rem 1.3rem;
      padding: 0;

      &:before {
        @include mixin-icon;
      }
    }

    li {
      &.phone:before {
        content: '\e802';
      }
      &.email:before {
        content: '\e800';
      }
      &.linkedin:before {
        content: '\e801';
      }
      &.github:before {
        content: '\f300';
      }
      &.website:before {
        content: '\e803';
      }
    }
  }

  .resume-skills {
    li:before {
      content: '\e804';
    }
  }

  .resume-main {
    grid-area: main;
    padding: 0.75cm 0.75cm;
    color: #445533;
    background-color: #fff;

    @media print {
      padding: 0.75cm 0.5cm 0.75cm 1cm;
    }

    h2 {
      margin-bottom: 0.5rem;
    }
  }

  .resume-header {
    margin-bottom: 1rem;

    h1 {
      margin: 0 0 0.5rem 0;
      padding: 0;
      font-size: 2rem;
      line-height: 1;
      letter-spacing: 0.1rem;
    }

    .subtitle {
      margin: 0 0 1rem 0;
      padding: 0 0 1rem 0;
      font-family: 'Open Sans', sans-serif;
      font-size: 1rem;
      border-bottom: solid 1px #ee0979;
    }

    .strapline {
      font-size: 0.9rem;
    }

    p {
      margin: 0 0 0.5rem 0;
      padding: 0;
      font-size: 0.8rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .experience-item {
    padding-top: 0.7rem;
    margin-top: 0.7rem;

    border-top: solid 1px #eee;

    &:first-child {
      padding-top: 0;
      border-top: none;
    }

    header {
      @media screen and (min-width: 500px), print {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        justify-content: stretch;
      }

      .position {
        flex: auto;
        margin: 0;
        padding: 0;
        font-size: 1rem;
        font-weight: normal;
      }
      .company-name {
        flex: auto;
        margin: 0;
        padding: 0;
        font-size: 0.8rem;

        br {
          display: none;
        }

        @media screen and (min-width: 500px), print {
          text-align: right;

          br {
            display: block;
          }
        }
      }
      .time-period {
        margin: 0;
        padding: 0 0 0 0.5rem;
        font-size: 0.7rem;
      }
    }

    .experience-description {
      margin: 0.2rem 0 0 1rem;
      padding: 0;
      li {
        margin: 0 0 0.5rem 0;
        padding: 0;
        font-size: 0.8rem;

        &:last-child {
          margin-bottom: 0;
        }

        .desc {
          margin-right: 0.5rem;
        }

        .skills {
          white-space: nowrap;
        }

        .skill {
          position: relative;

          display: inline-block;
          margin-right: 0.5rem;
          font-size: 0.6rem;
          color: #777;

          &:before {
            @include mixin-icon;
            position: relative;
            padding-right: 0.1rem;
            top: 0;
            left: 0;
            color: #999;
            content: '\e804';
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  .experience-item-minor {
    .experience-description {
      li {
        margin-bottom: 0.25rem;
      }
    }
  }
}
