
.icon-mail:before { content: '\e800'; } /* '' */
.icon-linkedin:before { content: '\e801'; } /* '' */
.icon-emo-happy:before { content: '\e802'; } /* '' */
.icon-github:before { content: '\f300'; } /* '' */