extends layout

block highlight-1
  p Full stack, quality focussed &amp; widely experienced.

  ul.skills
    li Node, Express
    li Python3, Django, DjangoCMS, Flask
    li JavaScript, HTML5, CSS, LESS, SASS


block highlight-2

  p.
    Vestibulum ornare orci vel tortor volutpat porttitor. Curabitur vestibulum
    vestibulum lorem, #[a(href='#') wibble wobble] vitae sodales tellus aliquam in. Nunc ex mi, tempor
    hendrerit rutrum quis, maximus vel orci. Curabitur luctus vel diam a
    accumsan. In ultricies ut tortor eget placerat.

  p.
    Proin quis euismod orci. Cras mi diam, blandit vitae ultricies vitae,
    varius non quam. Aliquam non ligula a quam dignissim viverra nec non
    tortor.

block content

  section.content-block

    h2 Some of my work

    section.portfolio

      each item in portfolio
        article.portfolio-item(class=item.wide ? 'portfolio-item-wide' : '')
          .logo
            if item.logo
              img(src=`images/${item.logo}`)
          .info
            h2 #{item.name}
            if item.desc
              p !{item.desc.replace(/\n\n/g, '</p><p>')}
            else
              p.
                Aenean sit amet erat quam. Donec rutrum consequat felis, id
                euismod libero malesuada eget. Vestibulum ac urna vulputate,
                condimentum ligula eget, ullamcorper turpis.

  section.content-block.content-block-highlight

    address.contact-details.contact-details-highlight
      ul
        li: a(href='mailto:hey@takeontom.com')
          span.icon.icon-mail
          | Email
        li: a(href='https://uk.linkedin.com/in/takeontom')
          span.icon.icon-linkedin
          | LinkedIn
        li: a(href='https://github.com/takeontom/')
          span.icon.icon-github
          | GitHub
