extends layout

block overview

  section.intro

    h2.lead Senior web developer

    p Full stack, quality focussed &amp; widely experienced.

  ul.skills
    li Node, Express
    li Python3, Django, Flask
    li JavaScript, HTML5, CSS, LESS, SASS


block content

  h2 Some of my work

  section.portfolio

    each item in portfolio
      article.portfolio-item(class=item.wide ? 'portfolio-item-wide' : '')
        .logo
          img(src=`images/${item.logo}`)
        .info
          h2 #{item.name}
          if item.desc
            p #{item.desc}
          else
            p.
              Aenean sit amet erat quam. Donec rutrum consequat felis, id
              euismod libero malesuada eget. Vestibulum ac urna vulputate,
              condimentum ligula eget, ullamcorper turpis.
