extends layout

block overview

  section.intro

    p.lead Senior web developer

    p Full stack, quality focussed &amp; widely experienced.

  ul.skills
    li Node, Express
    li Python3, Django, Flask
    li JavaScript, HTML5, CSS, LESS, SASS


block content

  p.
    Phasellus ut risus varius, egestas neque et, commodo quam. Curabitur luctus vestibulum enim, et lobortis augue luctus quis. Aliquam auctor orci quis tellus venenatis tempus. Maecenas maximus, ipsum eget viverra viverra, odio urna viverra orci, vel dictum enim neque dignissim ante. Aliquam convallis condimentum lorem, sit amet pulvinar sapien pharetra quis. Nulla volutpat, lacus a lobortis faucibus, mi orci porta magna, id pulvinar dui massa vel dolor. Nunc hendrerit lorem in metus tincidunt hendrerit.

  p.
    Cras posuere finibus diam in condimentum. Nunc hendrerit nisl at nibh venenatis gravida. Suspendisse tristique libero odio, ac scelerisque mi fermentum et. Donec consectetur dapibus velit. Nullam a leo imperdiet, porta lorem id, aliquam nibh. Fusce ac mi eu orci ornare pretium. Donec ullamcorper quam non erat consequat consectetur. Mauris hendrerit ullamcorper est. Sed imperdiet molestie magna, eu tincidunt velit rutrum in.

  p.
    Fusce non risus a neque eleifend condimentum. Duis consequat, felis et vehicula suscipit, tortor nunc aliquet diam, nec aliquet orci enim ut velit. In tempor vitae nisl sit amet interdum. Integer ut viverra purus, sed faucibus velit. Suspendisse ac nunc elit. Aenean et dapibus metus. Morbi accumsan blandit arcu ut finibus. Suspendisse rutrum, est nec lacinia sagittis, lacus augue faucibus nunc, quis commodo libero est vel tortor. Morbi fringilla, odio eu semper vulputate, elit urna auctor massa, nec blandit orci erat vel tortor. Aenean a nunc eu orci vehicula eleifend. Phasellus eu augue ut enim placerat feugiat. Integer sollicitudin vel tortor sed blandit. Pellentesque rhoncus euismod metus nec placerat.
