extends layout

block highlights
  h3 Full stack, quality focussed &amp; experienced.

  .highlight-bit
    ul.skills
      li Node.js, Express
      li Python3, Django, DjangoCMS, Flask
      li JavaScript, HTML5, CSS, LESS, SASS

  .highlight-bit
    p.
      I'm a UK based developer who's been making successful websites
      commercially for more than 15 years. I normally work on a contract basis,
      with a preference for working remotely.

    p.
      I'm reliable, flexible and a fast learner, who can jump into projects at
      any stage and slot seamlessly into a team.

    p.
      Why not #[a(href="mailto:hey@takeontom.com") get in touch] and see if I
      can help with your project?

  //- p.
  //-   Team player. Fast learner. Jump right in. Flexible. Reliable. Valuable
  //-   addition to team. Creative. Follow best practices. Slot right into team.

block content

  section.content-block

    h2 Some of my work

    section.portfolio

      each item in portfolio
        article.portfolio-item(class=item.wide ? 'portfolio-item-wide' : '')
          .logo
            if item.logo
              img(src=`images/portfolio/${item.logo}`)
          .info
            h2 #{item.name}
            if item.desc
              p !{item.desc.replace(/\n\n/g, '</p><p>')}

      article.portfolio-item
        .info
          h2 ... plus a whole load more
          .item.desc
            p.
              In addition to making dozens of other successful websites, I have
              also advised major charities and trade groups on digital
              strategy, appeared on BBC radio a few times, rebranded a PLC,
              content audited an exemplar GDS service, been a #[em fearsome]
              cake judge at baking competitions and was a semi-pro gamer...
              unfortunately, before that sort of thing was cool.

  section.content-block.content-block-highlight

    p.
      If you have need of a UK based, high quality and experienced web
      developer, then please get in touch:

    address.contact-details.contact-details-highlight
      ul
        li: a(href="mailto:hey@takeontom.com")
          span.icon.icon-mail
          | Email
        li: a(href="https://uk.linkedin.com/in/takeontom")
          span.icon.icon-linkedin
          | LinkedIn
        li: a(href="https://github.com/takeontom/")
          span.icon.icon-github
          | GitHub
