doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    section.layout-front
      header.section-header
        h1 Tom Smith

      aside.section-overview
        block overview

      section.section-content
        block content

