doctype html
html
  head
    meta(name="viewport", content="width=device-width")
    title Tom Smith - Web Developer
    link(
      href="https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro",
      rel="stylesheet")
    link(rel="stylesheet", href="/css/takeontom.css")
    script(src="/js/takeontom.js")

  body
    #loading-screen
      .loading-msg
        p
          span.dot.dot-1 .
          span.dot.dot-2 .
          span.dot.dot-3 .

    .background

    section.layout-front

      header.section-heading
        block heading
          h1 Tom Smith
          section.intro
            h2.lead Senior web developer

            block contact
              address.contact-details
                ul
                  li: a(href="mailto:hey@takeontom.com")
                    span.icon.icon-mail
                    | Email
                  li: a(href="https://uk.linkedin.com/in/takeontom")
                    span.icon.icon-linkedin
                    | LinkedIn
                  li: a(href="https://github.com/takeontom/")
                    span.icon.icon-github
                    | GitHub

      section.section-highlights
        block highlights

      section.section-content
        block content
        block content-bottom

      footer.section-footer
        block footer
          p &copy; 2017 Tom Smith

    script.
      TakeOnTom.loadingScreen();
