doctype html
html
  head
    meta(name='viewport' content='width=device-width')
    title= title
    link(href='/stylesheets/fontello/fontello.css' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro' rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    #loading-screen
      .loading-msg
        p
          span.dot.dot-1 .
          span.dot.dot-2 .
          span.dot.dot-3 .
    script(src='/javascripts/takeontom.js')

    .background

    section.layout-front

      header.section-heading
        block heading
          h1 Tom Smith
          section.intro
            h2.lead Senior web developer

            block contact
              address.contact-details
                ul
                  li: a(href='mailto:hey@takeontom.com')
                    span.icon.icon-mail
                    | Email
                  li: a(href='https://uk.linkedin.com/in/takeontom')
                    span.icon.icon-linkedin
                    | LinkedIn
                  li: a(href='https://github.com/takeontom/')
                    span.icon.icon-github
                    | GitHub

      aside.section-highlight-1.highlight
        block highlight-1

      aside.section-highlight-2.highlight
        block highlight-2

      section.section-content
        block content
        block content-bottom

      footer.section-footer
        block footer
          p &copy; 2017 Tom Smith
