.DevPage {
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 210mm;
  height: 297mm;
  margin: 1rem auto;
  overflow: hidden;
  background-color: #fff;
  color: var(--color-black);

  &,
  p,
  li {
    font-size: 0.7rem;
  }

  strong {
    color: inherit;
  }

  @media print {
    margin: 0;
  }

  .Main {
    padding: 1rem;
  }

  .Header {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    padding: 0 0 0.5rem 0;
    .Name {
      margin: 0;
      padding: 0;
      color: var(--color-pink);
      font-weight: bold;
      font-size: 1.5rem;
      line-height: 1;
    }
    .TagLine {
      margin: 0;
      padding: 0;
      color: var(--color-grey);
      font-weight: bold;
      font-size: 1.1rem;
      line-height: 1;
    }
  }

  .Summary {
    margin: 0 0 1rem 0;
    padding: 0 0 0.5rem 0;
    border-bottom: 0.5mm solid var(--color-pink);
    font-size: 0.8rem;
  }

  .Content {
  }

  .RoleName {
    margin: 0;
    padding: 0;
    font-size: 1rem;
  }

  .Role {
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: solid 0.25mm var(--color-grey-light);

    .RoleHeader {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;
      justify-content: space-between;
    }

    .RoleSkills {
      margin: 0;
      padding: 0;
    }
    .RoleSkill {
      padding-right: 0.75em;
      color: var(--color-grey);
      font-size: 0.6rem;

      &:last-child {
        padding-right: 0;
      }
    }

    .RolePositions {
      margin: 0;
      padding: 0;
      font-size: 0.8rem;
    }

    .RolePosition {
      font-size: 0.7rem;
      &:last-of-type {
        font-size: 0.8rem;
      }
    }

    .RoleName,
    .RoleDates {
      margin: 0;
      padding: 0;
      font-size: 0.7rem;
      text-align: right;
    }

    .RoleName {
      color: var(--color-orange);
      font-size: 0.8rem;
    }

    .RoleDates {
      font-size: 0.6rem;
    }

    .RolePoint {
      ul {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        list-style: none;
      }
      p,
      li {
        margin: 0.25rem 0 0.25rem 0;
        padding: 0 0 0 0.25rem;
        border-left: solid 0.5mm var(--color-pink);

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .RolePosition {
    padding-right: 0.5ex;
    color: var(--color-grey);
    font-style: italic;

    &::after {
      padding-left: 0.5ex;
      content: "➜";
    }

    &:last-of-type {
      padding-right: 0;
      color: var(--color-pink);
      font-style: normal;

      &::after {
        padding-left: 0;
        content: "";
      }
    }
  }
}

.SummaryHistory {
  &,
  .SummaryRole {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .SummaryRole {
    margin: 0.25rem 0;
  }
}

.SideBar {
  height: 100%;
  padding: 1rem;
  background: linear-gradient(135deg, var(--color-pink), var(--color-orange));
  background-position: center;
  background-repeat: no-repeat;
  color: var(--color-white);
  &,
  p,
  li {
    font-size: 0.8rem;
  }

  .SideBarSection {
    margin-bottom: 2rem;
    &:last-child {
      margin-bottom: 0;
    }
    h2 {
      margin: 0 0 1rem 0;
      padding: 0;
      font-size: 1.2rem;
    }
  }
}

.ContactLinks {
  &,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .ContactItem {
    margin-bottom: 1rem;
    :global {
      a.gIconLink {
        margin-right: 0;
        color: var(--color-white);
        font-size: 0.9rem;
        .gLinkIcon {
          padding-right: 0.5rem;
          svg {
            fill: var(--color-white);
            width: 0.8rem;
            height: auto;
          }
        }
      }
    }
  }
}

.SkillsList {
  &,
  .Skills {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .Skills {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    margin: 0 0 0.5rem 0;
  }

  .SkillIcon {
    display: flex;
    flex-shrink: 0;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 0.8rem;
    height: 0.8rem;
    margin: 0.1rem 0;
    border-radius: 50%;
    background-color: var(--color-white);

    text-align: center;
    svg {
      fill: var(--color-pink);
      width: 60%;
      height: auto;
    }
  }

  .SkillsText {
    display: block;
    margin-left: 0.5rem;
  }
}

.QRCodeContainer {
  max-width: 100%;
  text-align: center;
  svg {
    max-width: 50%;
    height: auto;
  }
}
