@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro');
@import 'fontello/fontello';
// @import 'fontello/fontello-codes.css';

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;

    font-family: 'Source Sans Pro', sans-serif;

    color: #fff;

    background: #ee0979;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a, a:visited {
    color: #fff;
    text-decoration: underline;
}

address {
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    padding-top: 0;

    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

p, h1, h2, h3, h4, h5, h6 {
    &:first-child {
        margin-top: 0;
        padding-top: 0;
    }
}
p, h1, h2, h3, h4, h5, h6 {
    &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.fixed-grid {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: grid;
    grid-template-columns: auto 30rem 30rem auto;
    grid-template-rows: auto;
    grid-template-areas:
        ". fixed-1 fixed-2 .";
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;

}


.layout-front {
    position: static;

    display: grid;
    grid-template-columns: auto 30rem 30rem auto;
    grid-template-rows: auto;
    grid-template-areas:
        ". . . ."
        ". heading utility ."
        ". highlight-1 highlight-2 ."
        ". content content ."
        ". . . .";
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;

    .section-utility {
        grid-area: utility;
        align-self: end;
    }

    .section-heading {
        grid-area: heading;
        align-self: start;
    }

    .section-sub-heading {
        grid-area: sub-heading;
        align-self: auto;
    }

    .section-highlight-1 {
        grid-area: highlight-1;
    }

    .section-highlight-2 {
        grid-area: highlight-2;
    }

    .section-content {
        grid-area: content;
    }
}

.section-heading {
    h1 {
        margin: 0 0 1rem 0;
        padding: 0;
        line-height: 1;
        font-size: 4rem;
    }
}

.section-utility {
    // background-color: rgba(255, 255, 255, 0.1);
}

.lead {
    margin-top: 0;
    padding-top: 0;
    font-size: 1.4rem;
}

.highlight {
    font-size: 1rem;


    .intro {

        p {
            margin: 0;
            padding: 0 0 1rem 0;
        }
    }

    .skills {
        margin: 0 0 0 1rem;
        padding: 0;

        list-style: none;

        font-size: 0.8rem;

        li {
            list-style: none;
            margin-top: 0.5rem;
            margin-right: 0;
            margin-bottom: 1rem;
            margin-left: 0;

            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0.5rem;

            border-left: solid 0.25rem #ffb27e;
        }
    }

    p {
        margin-top: 0;
        padding-top: 0;
    }

}

.section-content {
    h2 {
        font-size: 1.4rem;
    }
}

.portfolio {
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;


    h2 {
        margin-top: 0;
        padding-top: 0;
    }

    .portfolio-item {
        display: flex;
        flex-direction: row;
        align-content: flex-start;

        background-color: rgba(255, 255, 255, 0.1);
        color: #fff;

        .logo {
            flex: 1;

            display: flex;
            flex-direction: row;
            align-items: center;

            padding: 2rem;
            background-color: rgba(255, 255, 255, 0.5);

            img {
                display: block;
                max-width: 100%;
                height: auto;
            }
        }

        .info {
            flex: 2;
            margin: 2rem;
            margin-left: 1rem;

            font-size: 0.9rem;

            h2 {
                margin: 0 0 0.5rem;
                padding: 0;
                font-size: 1.3rem;
            }

            p {
                margin: 0 0 0.5rem 0;
                padding: 0;
            }
        }
    }
}

.contact-details {
    font-size: 0.9rem;

    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;

        margin: 0;
        padding: 0;

        list-style: none;

        li {
            margin: 0 2rem 0 0;
            padding: 0;
            list-style: none;

            a {
                text-decoration: none;
                color: rgba(255, 255, 255, 0.7);

                &:hover, &:active, &:focus {
                    color: #fff;
                }
            }
        }
    }
}
