.list {
  list-style: none;
  margin: 0 0 0 1rem;
  padding: 0;

  li {
    list-style: none;
    margin: 0 0 1.5rem 0;
    padding: 0 0 0 0.5rem;
    border-left: solid 0.25rem #ffb27e;
  }
}

.summary {
  display: flex;
  flex-flow: column nowrap;

  @media screen and (min-width: 800px) {
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  > div {
    @media screen and (min-width: 800px) {
      width: calc(50% - 1rem);
    }

    p:first-child {
      margin-top: 0;
      padding-top: 0;
    }
  }
}

.partingThoughts {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 3rem 0;
  border-color: fade-out($color: #fff, $amount: 0.8);
  border-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  text-align: center;

  p {
    margin: 0 0 1.5rem;
    padding: 0;
  }
}
