@use "app/mixins.scss";

.pageContainer {
  position: absolute;
  width: 100%;
}

.container {
  @include mixins.pageContainer;
  position: relative;
  padding: 2rem;
}

.bg {
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, var(--color-pink), var(--color-orange));
  background-position: center;
  background-repeat: no-repeat;
}
