.portfolioItem {
  display: flex;
  flex-flow: row nowrap;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;

  .logo {
    flex: 1;
    padding: 1rem 0;
    background-color: rgba(255, 255, 255, 0.5);

    @media screen and (min-width: 500px) {
      padding: 2rem;
    }

    .logoImage {
      display: block;
      margin: auto;
    }
  }

  .info {
    flex: 2;

    margin: 2rem;
    margin-left: 1rem;

    font-size: 0.9rem;

    .name {
        margin: 0 0 0.5rem;
        padding: 0;
        font-size: 1.3rem;
    }
  }
}
