.portfolioItem {
  display: flex;
  flex-flow: column nowrap;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;

  @media screen and (min-width: 600px) {
    flex-flow: row nowrap;
  }

  .logo {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    background-color: rgba(255, 255, 255, 0.5);

    @media screen and (min-width: 600px) {
      padding: 2rem;
    }

    .logoImage {
      @media screen and (max-width: 600px) {
        margin: auto;
        width: 100px;
      }
    }
  }

  .info {
    flex: 2;

    margin: 2rem;
    margin-left: 1rem;

    font-size: 1rem;

    .name {
      margin: 0 0 0.5rem;
      padding: 0;
      font-size: 1.3rem;
    }
  }
}
