
.icon-mail:before { content: '\e800'; } /* '' */
.icon-linkedin:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-link:before { content: '\e803'; } /* '' */
.icon-ok-circle:before { content: '\e804'; } /* '' */
.icon-github:before { content: '\f300'; } /* '' */