.list {
  margin: 0 0 0 1rem;
  padding: 0;
  list-style: none;

  li {
    margin: 0 0 1.5rem 0;
    padding: 0 0 0 0.5rem;
    border-left: solid 0.25rem var(--color-yellow);
    list-style: none;
  }
}

.PageTitle {
  margin: 2rem 0 4rem 0;
  padding: 0;
}

.summary {
  display: flex;
  flex-flow: column nowrap;

  @media screen and (min-width: 1000px) {
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  > div {
    @media screen and (min-width: 1000px) {
      width: calc(50% - 1rem);
    }

    p:first-child {
      margin-top: 0;
      padding-top: 0;
    }
  }
}

.partingThoughts {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 3rem 0;
  border-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: var(--color-faded-white);
  text-align: center;

  p {
    margin: 0 0 1.5rem;
    padding: 0;
  }
}
