<html>
<head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='takeontom.css') }}">
</head>
<body>
    <main class="main-section">
        <header>
            <h1>Tom Smith</h1>
            <h2>Python Developer</h2>
        </header>
        <section class="contact-details">
            <ul>
                <li class="contact-github"><a href="https://github.com/takeontom/" rel="nofollow"><img src="{{ url_for('static', filename='images/github-sign.svg') }}" alt="Github" title="Github" /></a></li>
                <li class="contact-email"><a href="mailto:tom@takeontom.com" rel="nofollow"><img src="{{ url_for('static', filename='images/close-envelope.svg') }}" alt="Github" title="Github" /></a></li>
                <li class="contact-linkedin"><a href="https://uk.linkedin.com/in/takeontom" rel="nofollow"><img src="{{ url_for('static', filename='images/linkedin-logo.svg') }}" alt="Github" title="Github" /></a></li>
            </ul>
        </section>
    </main>
</body>
</html>
